%table
  %thead
    %tr
      %th Name
      %th Type
      %th{ :colspan => 3 }
  
  %tbody
    - for subtype in @subtypes
      %tr{ :class => cycle(:odd, :even) }
        %td= subtype.name
        %td= subtype.type
        %td= link_to 'Show', subtype
        %td= link_to 'Edit', edit_subtype_path(subtype)
        %td= link_to 'Destroy', subtype, :confirm => 'Are you sure?', :method => :delete
