!!!
%html
  %head
    %title== #{ yield :title }: #{ controller.action_name }
    = javascript_include_tag :defaults
    = stylesheet_link_tag 'scaffold'
    //= yield :javascript
    //= yield :stylesheets
    = csrf_meta_tag
  
  %body
    %p.notice= notice
    
    = yield
